@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* https://i1.wp.com/wallur.com/wp-content/uploads/2016/12/black-background-4.jpg?resize=1600%2C900 */

/* https://www.pixelstalk.net/wp-content/uploads/2016/07/1080p-Full-HD-Backgrounds-Free-Download.png */

/* https://img.wallpapersafari.com/desktop/1920/1080/58/28/5KfnG9.jpg  */

.App {
  text-align: center;
  transition: margin-left 0.4s; /* If you want a transition effect */
}
:root {
  background-image: url("https://images6.alphacoders.com/481/481285.jpg");
  background-size: "cover";
  overflow: "hidden";
  background-size: cover;
}

.chatbtn {
  font-family: Montserrat, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-weight: 400;
  font-size: 14px;
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 6%;
  height: 40px;
  width: 140px;
  margin: 0;
  right: 6%;
  color: rgb(247, 252, 247);
  border: gray solid 0.5px;
  transition: 150ms;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: rgb(209, 68, 68);
  border-radius: 8px;
  align-items: center;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}
.chatbtn:hover {
  transform: scale(1.05);
  background-color: rgb(229, 240, 229);
  color: rgb(196, 55, 55);
}
.chatbtn:active {
  transform: scale(0.95);
  /* background-color: rgb(101, 197, 101);  dsadsa */
}

.chatPopup {
  font-family: Montserrat, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  position: fixed;
  bottom: 16%;
  right: 30px;
  transform: scale(0);
  transition: 150ms all ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 28%; */
  width: 300px;
  /* max-width: 80%; */
  height: 200px;
  background-color: rgb(163, 129, 129, 0.9);
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  border: 0.3px gray solid;
  user-select: none;
  font-weight: 300;
}
.chatPopup.activ {
  transform: scale(1);
}
.chatPopup::-webkit-scrollbar {
  width: 0 !important;
}
/* .element::-webkit-scrollbar { width: 0 !important } */

.chatBar {
  display: flex;
  align-items: center;
  /* border-radius: 8px; */
  /* background-color: rgb(167, 175, 182); */
  border-bottom: black solid 0.3px;
  width: 100%;
  height: 32px;
}

#msgtag1 {
  margin: 0 12px;
}

#msgInput {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(224, 193, 193, 0.5);
  height: 32px;
  bottom: 0;
  margin: 0.1px;
  border-top: rgb(141, 126, 126) solid 0.4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#usNameTag {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  height: 100%;
  width: 30%;
  margin-right: 6px;
}
#msgInputBox {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  /* background-color: rgb(134, 104, 104); */
}
#msgInputField {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 6px;
  background: none;
  outline: none;
  border: 0.8px solid rgb(122, 131, 146);
  margin: 0;
  padding: 2px;
  color: aliceblue;
  background-color: rgba(163, 129, 129, 0.5);
}
.chatDisplay {
  /* background-color: antiquewhite; */
  /* display: flex; */
  /* font-family: Verdana, Geneva, sans-serif, Montserrat; */

  margin-top: 3px;
  width: 95%;
  height: 100%;
  overflow-wrap: normal;
  /* overflow-x: auto; */
  overflow: scroll;
  text-align: left;
  /* color: rgb(85, 69, 69); */
  color: rgb(229, 240, 229);
  font-size: 15px;
}
.chatDisplay::-webkit-scrollbar {
  width: 0 !important;
}

/* .x2 {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 8px;

  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s all ease-in-out;
}
.x2:hover {
  transform: scale(1.1);
} */
