
.header{
    border: 2px solid yellow;
    height:4vh;
    width: 25vw;
  }
  
  .chatroom{
    width:25vw;
    height: 30vh;
    /*border: 1px solid red;*/
    margin-left: 73vw;
    margin-top: 63vh;
  }
  
  .messages{
    border: 1px solid navy;
    height: inherit;
    position: relative;
    top: 0px;
    left: 0px;
  
  }
  