@import url("https://fonts.googleapis.com/css?family=Montserrat");

#dashboard {
  position: absolute;
  left: -190px;
  width: 220px;
  height: 100vh;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 27px;
  letter-spacing: -1.4px;
  word-spacing: 0px;
  color: #000000;
  /* font-weight: 400; */
  text-decoration: none;
  /* font-style: normal; */
  font-variant: small-caps;
  text-transform: none;
  color: rgb(129, 68, 68);
  user-select: none;

  border: 0.3px solid rgb(31, 25, 25);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: rgba(70, 31, 31, 0.65);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s all ease-in-out; /* 0.5 second transition effect to slide in the sidebar */
}
#dashboard::-webkit-scrollbar {
  width: 0 !important;
}

#dashboard.activ {
  left: 0;
}
.createbtn {
  font-size: 14px;
  /* display: flex; */
  position: absolute;
  justify-content: center;
  bottom: 8px;
  height: 40px;
  width: 170px;
  margin: 0;
  left: 12%;
  transition: 150ms;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: rgb(196, 55, 55);
}
.createbtn:hover {
  transform: scale(1.03);
  background-color: rgb(107, 184, 107);
}
.createbtn:active {
  transform: scale(1);
  /* background-color: rgb(101, 197, 101); */
}

/* .dashbtn {
} */

.title {
  padding-top: 3vh;
  color: black;
  padding-bottom: 3vh;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.namefield {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(192, 145, 145);
  justify-content: center;
  font-size: 24px;
  height: 60px;
  margin: 0 auto;
  padding: 3px;
}
.usname {
  position: absolute;
  left: 60px;
  /* background-color: black; */
  margin: 0;
  padding: 0;
  font-size: 30px;
  bottom: 4px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Montserrat;
  font-weight: 500;
  transition: 200ms;
}
.usname:hover {
  transform: scale(1.05);
}

.logout {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: rgb(196, 55, 55);
  font-size: 12px;
  padding: 0;
  right: 8px;
  bottom: 8px;
  transition: 150ms;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 3px;
}
.logout:hover {
  transform: scale(1.1);
  background-color: rgb(101, 197, 101);
}
.logout:active {
  transform: scale(1);
  /* background-color: rgb(101, 197, 101); */
}

.dashimg {
  position: absolute;
  left: 3px;
  height: 55px;
  /* background-color: black; */
  margin: 0;
  padding: 0;

  /* border-radius: 10px; */
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5); */
  transition: 250ms;
}
.dashimg:hover {
  transform: scale(1.05);
}

button {
  background-color: rgb(228, 72, 72);
  border: none;
  color: white;
  padding: 2vh 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.msgbox {
  /* position: absolute;
  right: 0;
  /* margin: 0;
  padding: 0;  */
  /* background-color: #fff; */
  position: absolute;
  bottom: 123px;
  height: 50px;
  width: 95%;
  margin: 0;
  left: 2.5%;
}

.msgbtm {
  position: relative;
  background-color: rgba(250, 245, 245, 0.5);
  border-radius: 5px;
  height: 84px;
  width: 88%;
  margin: 2px auto;
  margin-bottom: 10px;
  /* margin-left: 10px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: gray solid 0.3px;
  transition: 200ms;
  font-size: 13px;
  /* display: flex; */
  display: block;
  list-style-position: inside;
  padding-left: 8px;
  padding-right: 10px;
  overflow: hidden;
}
.msgbtm:hover {
  transform: scale(1.02);
  background-color: rgba(250, 245, 245, 0.5);
}
.inviteList {
  /* position: absolute; */

  /* font-size: 10pt;
  height: 15pt; */
  padding: 1px 0;
}
.inviMsg {
  /* font-size: 16px; */
  position: absolute;
  left: 8px;
  margin-left: 0;
  padding: 1px;
  /* background-color: #4caf50; */
}

#inviTag {
  /* background: #4caf50; */
  margin: auto 12px;
}
.msgup {
  /* text-transform: capitalize; */
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fff;
  /* font-family: sans-serif; */
  /* background-color: #fff;      Montserrat;  */
  background-color: rgba(250, 245, 245, 0.5);
  border-radius: 5px;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  /* margin-left: 10px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: gray solid 0.3px;
  height: 30px;
  transition: 200ms;
  font-size: 18px;
}
.msgup:hover {
  transform: scale(1.02);
  background-color: rgba(250, 245, 245, 0.5);
}
