@import url("//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800");

.searchForm {
  position: relative;
  background: rgb(228, 215, 215);
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 100;
  user-select: none;
  transition: 150ms all ease-in-out;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  /* overflow: scroll; */
  border: gray solid 0.3px;
  padding: 8px;
}

.searchForm.activ {
  transform: translate(-50%, -50%) scale(1);
}

.userList {
  display: flex;

  /* background-color: rgba(209, 188, 188, 0.5); */
  /* justify-content: center; */
  /* align-items: center; */
  height: 200px;
  flex-wrap: wrap;
  overflow: scroll;
}
.userList::-webkit-scrollbar {
  width: 0 !important;
}

.formHeader {
  display: flex;
  height: 8%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(85, 78, 78); */
}

.subheader {
  display: flex;
  justify-content: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  align-items: center;
  background-color: rgb(172, 143, 143);
}
.subheader2 {
  justify-content: left;
}
.aaa {
  margin-left: 10px;
}

.nameInputField {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  border-radius: 12px;
  background: rgb(242, 248, 252);
  margin-left: 5px;
  /* margin-bottom: 10px; */
  border: 2px solid rgb(87, 127, 187);
  width: 160px;
  outline: none;
}

.destin {
  position: relative;
  background-color: red;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}

.latLonInput {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 50%; */
}

.latInputField {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  border-radius: 12px;
  background: rgb(242, 248, 252);
  border: 2px solid rgb(87, 127, 187);
  width: 100px;
  margin: 0;
  padding: 0;
}

.lonInputField {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  border-radius: 12px;
  background: rgb(242, 248, 252);
  margin-left: 5px;
  margin-bottom: 10px;
  border: 2px solid rgb(87, 127, 187);
  width: 100px;
}

.submitButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: rgb(242, 248, 252);
  border: 2px solid rgb(87, 127, 187);
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  outline: none;
}

.createGroupButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.x2 {
  position: absolute;
  right: 12px;
  top: 0;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

.x2:hover {
  transform: scale(1.06);
}

.x2:active {
  transform: scale(0.9);
}
