@import url("https://fonts.googleapis.com/css?family=Montserrat");

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 3vw;
}

#groups {
  padding-top: 5px;
}

.groupbar {
  /* display: block; */
  /* width: 100%; */
  display: flex;
  /* background-color: #fff; */
  align-items: center;
  /* font-size: 18px; */
  justify-content: center;
  margin: 1px auto;
  list-style: none;
}
.liGroupName {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgb(163, 68, 68);
  width: 56%;
  margin: 1px 0;
  transition: all 150ms ease-in-out;
  padding: 3px;
  /* color: rgb(179, 165, 148); */
  color: rgb(224, 221, 221);
  font-size: 16px;
  border-radius: 5px;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  word-spacing: 4px;
}
.liGroupName:hover {
  transform: scale(1.1);
  background-color: rgb(176, 187, 176);
  color: rgb(221, 24, 24);
}
.liGroupName:active {
  transform: scale(1);
}

/* .delbtn {
  width: 10px;
  background-color: #fff;
} */

.delbtn {
  color: white;
  display: flex;
  /* text-align: center; */
  /* margin: auto; */
  background: none;
  margin: 0 12px;
  /* margin-top: 42px; */
  outline: none;
  border-radius: 8px;
  /* text-transform: uppercase; */
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid gold;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  padding: 0;
  /* margin-top: 50px; */
}
.delbtn:hover {
  background-color: gold;
  color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
}
.delbtn:active {
  background-color: rgb(219, 191, 28);
  transform: scale(0.95);
  color: rgba(0, 0, 0, 0.8);
}
.delbtn1 {
  position: absolute;
  left: 1px;
}
.delbtn2 {
  position: absolute;
  right: 1px;
}
/* .liGroupName {
  background-color: #fff;
  position: absolute;
  left: 30%;
} */
