#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 150ms ease-in-out;
}

#overlay.activ {
  opacity: 1;
  pointer-events: all;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  width: 400px;
  max-width: 80%;
  height: 300px;
  background-color: rgb(214, 193, 193);
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  border: 0.3px gray solid;
}

.popup.activ {
  transform: translate(-50%, -50%) scale(1);
}

.userbar {
  width: 90%;
  margin: 2px;
  border-radius: 3px;
  background-color: rgb(182, 150, 150);
  cursor: pointer;
}

.invibtn {
  position: absolute;
  margin: 10px;
  bottom: 12px;
  background-color: rgb(255, 74, 74);
}

.active {
  background-color: rgb(204, 70, 70);
}

.x {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 0px;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s all ease-in-out;
}
.x:hover {
  transform: scale(1.1);
}
